@import './styles/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import '~antd/dist/antd.css';

* {
  font-family: 'Roboto';
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

a {
  font-weight: 500;
  color: white;
  text-decoration: underline;

  &:hover {
    cursor: pointer;
  }
}

.form-container {
  max-width: 1280px;
  min-width: 400px;
  padding: 20px 20px 0px 20px;
  background-color: $color-primary-200;
  text-align: center;
  border-radius: 8px;

  form {
    display: flex;
    flex-direction: column;

    label {
      color: white;
      text-align: start;
    }

    label + input {
      margin-bottom: 12px;
    }
  }

  h2 {
    margin: 0;
    margin-bottom: 16px;
    color: white;
  }

  span {
    color: white;
  }
}

.mrc-input {
  color: black;
  min-height: 20px;
  padding: 8px;
  border: 0;
  border-radius: 5px;

  &:focus-within {
    outline: none;
  }
}
